*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 18, 18, 18;
	--background-rgb: 214, 219, 220;

	/*! Custom Colors */
	--primary: #00184b;
	--secondary: #33b4bd;
	--accent: #9c5025;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 18, 18, 18;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
	scroll-behavior: smooth;
}

/* Overwriting NextUI label error */
label {
	color: black !important;
}
