@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 18, 18, 18;
	--background-rgb: 214, 219, 220;

	/*! Custom Colors */
	--primary: #00184b;
	--accent: #33b4bd;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 18, 18, 18;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}
